/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Enable smooth scrolling behavior for HTML */
html {
  scroll-behavior: smooth;
}

/* Style for logo image */
.logo img {
  border-radius: 100%;
  width: 3vw;
}

/* Navbar styling */
.navbar {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-around;
  background-color: #02152c;
  color: #fff;
  z-index: 1;
}

/* Navigation links container */
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Style for navigation links */
.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

/* Hover effect for navigation links */
.nav-links li a:hover {
  color: #02152c;
  text-decoration: none;
  background-color: #08d8ff;
  transition: 0.2s;
}

/* Burger menu icon */
.burger {
  display: none;
  cursor: pointer;
}

/* Style for the burger menu icon's lines */
.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

/* Styling for the home section */
.home {
  background-color: #02152c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  line-height: 25px;
  height: 90vh;
}

/* Styling for content section */
.content {
  width: 50vw;
  margin-right: 50px;
}
.content-h1 {
  margin: 20px 0;
}

/* Social media logos styling */
.social_media_logos {
  display: flex;
}

/* Styling for individual social media logos */
.insta_logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  /* Background images for the logos */
  background: url(img/instahram_logo.png); /*Example URL */
  background-position: center;
  background-size: cover;
  margin: 10px;
  margin-left: 0;
  cursor: pointer;
}
.facebook_logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  /* Background images for the logos */
  background: url(img/facebook.png); /*Example URL */
  background-position: center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
.LinkedIn_logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  /* Background images for the logos */
  background: url(img/linkedin.png); /*Example URL */
  background-position: center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}

.twitter_logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  /* Background images for the logos */
  background: url(img/twitter.png); /*Example URL */
  background-position: center;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
.ghithub_logo {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  /* Background images for the logos */
  background: url(img/pngwing.com.png); /*Example URL */
  background-position: center;
  background-size: cover;
  background-color: white;
  margin: 10px;
  cursor: pointer;
}

/* Styling for download button */
.download-button {
  display: inline-block;
  background-color: #08d8ff;
  color: #02152c;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 20px;
}

/* Hover effect for download button */
.download-button:hover {
  background-color: #124947;
  color: white;
  transition: 0.2s;
}

/* Styling for figure element */
figure {
  height: 400px;
  width: 250px;
  background: url(img/1630134788574.png); /* Example URL */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
  border: 3px solid #08d8ff;
}

/* Styling for About section */
.About {
  color: white;
  background-color: #08d8ff;
  font-size: 1.3rem;
}

/* Styling for About section heading */
.About h1 {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  display: block;
  color: #02152c;
}

/* Styling for about content */
.about-content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 100px 20px;
}

/* Styling for paragraph elements in the about section */
.paragraphs {
  width: 50vw;
}

/* Styling for the about-gif element */
#about-gif {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* Styling for paragraphs in the about section */
.about-p {
  padding: 10px;
}

/* Styling for skills section */
.skills {
  color: #08d8ff;
  background-color: #02152c;
}

/* Container for skill content */
.sklii-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 5vh;
}

/* Styling for skill text */
.skill-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
  line-height: 23px;
  width: 50%;
}

/* Styling for programming section */
.programming {
  text-align: left;
  padding: 20px;
  width: 30vw;
}

/* Styling for programming skills list items */
.programming ul li {
  list-style: none;
  color: white;
}

/* Styling for spans within programming skills list items */
.programming ul li span {
  border-bottom: 1px solid #08d8ff;
}

/* Styling for skills section heading */
.skills h1 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
  display: block;
}

/* Styling for progress container heading */
.progress-container-head {
  width: 50%;
}

/* Styling for progress container */
.progress-container {
  width: 40vw;
  background-color: #02152c;
  border-radius: 5px;
  position: relative;
  margin: 10px 2vw;
}

/* Styling for progress bar */
.progress-bar {
  height: 10px;
  background-color: #08d8ff;
  border-radius: 10px;
}

/* Styling for progress text */
.progress-text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  margin-left: 2vw;
  color: white;
}

/* Styling for skill logos */
.skill_logo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-bottom: 5px;
}

/* Styling for Projects section */
.Projects {
  color: white;
  background-color: #08d8ff;
}

/* Styling for Projects section heading */
.Projects h1 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
  color: #02152c;
  display: block;
}

/* Styling for Projects list */
.Projects ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Styling for Projects list items heading */
.Projects ul li h3 {
  text-align: left;
  color: #02152c;
  font-weight: 100;
}

/* Styling for Projects list items */
.Projects ul li {
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  font-size: 1.2rem;
  list-style: none;
  width: 48%;
  padding: 2vh;
}

/* Styling for Projects links */
.Projects ul li a {
  text-decoration: none;
  width: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #08d8ff;
  color: #02152c;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 1s ease;
  border: none;
  margin-top: 10px;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 10px;
}

/* Hover effect for Projects links */
.Projects ul li a:hover {
  background-color: #02152c;
  color: #08d8ff;
  transition: 0.2s;
}

/* Styling for Certificates section */
.Certificates {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #02152c;
  background-color: whitesmoke;
}

/* Styling for Certificates section heading */
.Certificates h1 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
  display: block;
}

/* Styling for Certificates section paragraphs */
.Certificates p {
  width: 50vw;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: #02152c;
}

/* Styling for image container */
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Animation for scaling image container */
@keyframes scaleContainer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Styling for image boxes */
.img-box {
  height: 30vh;
  width: 20vw;
  margin: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: transform 1s ease;
}

/* Hover effect for image boxes */
.img-box:hover {
  animation: scaleContainer 1s forwards;
}

/* Styling for Contact section */
.Contact {
  margin-top: 10vh;
  color: whitesmoke;
  background-color: #02152c;
  box-sizing: border-box;
}

/* Styling for Contact section heading */
.Contact h1 {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;
  display: block;
  color: #08d8ff;
}

/* Styling for contact description */
.contact-description {
  width: 50vw;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

/* Styling for contact text */
.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for contact text heading */
.contact-text h3 {
  width: 90vw;
  text-align: left;
  margin: 30px 0;
  color: #08d8ff;
}

/* Styling for contact text paragraphs */
.contact-text p {
  width: 90vw;
  margin: 4px 0;
}

/* Styling for contact images */
.contact-img {
  height: 20px;
  width: 20px;
}

/* Styling for red platform section */
.redplat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #124947;
  font-size: 1.5rem;
  border: none;
  position: relative;
  margin-top: 5vh;
  bottom: 0;
}

/* Styling for bold text within red platform */
.bold-txt {
  font-weight: bold;
  padding: 0 5px;
  color: #08d8ff;
}
